{% extends 'base.html' %}
{% load static %}

{% block head_title %}GreenBank BD | Secure Banking{% endblock %}
{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-8 md:my-16 gap-4 md:gap-8 items-stretch">

    <div class="flex-1 flex flex-col justify-center items-start p-6 bg-white rounded-2xl bg-opacity-80 shadow-xl">
        <h1 class="font-extrabold text-3xl md:text-4xl mb-5 text-gray-900">GreenBank BD</h1>
        <h2 class="text-xl md:text-2xl font-semibold text-gray-700 mb-3">Your Trusted Financial Partner</h2>

        <p class="leading-relaxed text-sm md:text-base mb-4 text-gray-800">
            Welcome to <span class="font-bold text-green-700">GreenBank BD</span>, where security, innovation, and customer satisfaction come first. 
            We provide seamless banking solutions tailored to your needs.
            <br><br>
            Experience fast and secure transactions, easy deposits and withdrawals, and smart financial tools to help you grow your wealth.
            <br><br>
            Join us today and take control of your financial future with confidence and ease.
        </p>

        <div class="w-full text-center md:text-left">
            <a href="{% url 'register' %}" 
               class="inline-block text-lg bg-gradient-to-r from-green-900 to-blue-800 text-white rounded-lg hover:scale-105 transform transition-all duration-300 py-3 px-8 shadow-lg hover:shadow-xl font-bold">
                Get Started
            </a>
        </div>
    </div>

    <div class="flex-1 h-full self-center mt-2 md:mt-4">
        <img class="w-full h-full object-cover rounded-2xl shadow-xl" src="{% static 'img/bank.jpg' %}" alt="Secure Banking Interface">
    </div>

</div>
{% endblock %}
